<!DOCTYPE html>
<html>
<head>
<title>Passed</title>
</head>
<body>
<h1> Congratulations you have passed this round</h1>
<a href="/<%=next%>">Click here to go to round <%=next%></a>
</body>
</html>