.al{
	margin-top: 20px;
	margin-right: 20px;
		height: 75px;
	width: 75px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	background-color: #c3c388;
	box-shadow: 5px 10px ;
}

.first-line{
	display: block;
}
.second-line{
	display: block;
	margin-left: 35px;
}
.third-line{
	display: block;
	margin-left: 70px;
	transition-delay: 5s;
}
.container{
	position: absolute;
	left:20%;
	top:60%;

}

input {
	position:absolute;
	left:25%;
	top:50%;
	width :50%;
	height: 50px;
   background-color: transparent;
   font-size: 27px;
   font-family: "Helvetica Neue";
   font-style: italic;
   color: #990000;
    
}

.given-words{
	width:12%;
	height:50px;
	border: 2px solid red;
	text-align: center;
	font-size: 32px;
	margin: auto;
	border-radius: 2px;
	display: inline-block;
	

}

.group{
	margin:auto;
}

.header{
	
	height: 100px;
}

.cc{
	height:50px;
	width:150px;
	text-align: center;
	font-size: 23px;
	color: white;
	border: 1px solid orange;
	border-radius: 5px;
	margin-top: 3%;

}
.score{
	display: inline-block;
	background-color: #191966;
}
.level{
	display: inline-block;
	background-color: #ff661a;	
	position: absolute;
	left:45%;
}
.speed{
	display: inline-block;
	float: right;
	background-color: #267326;
}